{% extends 'DictionaryBundle::layout.html.twig' %}

{% block navigation %}
    {{ include('DictionaryBundle::navigation.html.twig',{ 'user': app.user } ) }}
{% endblock navigation %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-4">
            <form style="padding: 5px;" method="post" action="{{ path('_translate') }}" >
                <div class="form-row">
                    <input style="width: 240px;height: 58px;font-size: 33px;"name="q" id="search-id" type="search" placeholder={% if latestWord %}{{ latestWord }}{% else %}"Translate"{% endif %} />

                    <button type="submit" class="sf-button">
                        <span class="border-l">
                            <span class="border-r">
                                <span class="btn-bg">OK</span>
                            </span>
                        </span>
                    </button>
                </div>
            </form>

            <div id="latestResult" style="font-size: 20px">
                <ul>
                    {% if latestSearch%}
                        {% for key, translations in latestSearch.translations %}
                            <span class="history_key">{{ key }}</span><br/>
                            {% for word in translations %}
                                <ul>
                                    <li>{{ word }}
                                        {% if latestSearchSynonyms is not empty and latestSearchSynonyms[word] is not empty %}
                                            {%  set synonyms =  latestSearchSynonyms[word]['translation'] %}
                                            {% if synonyms is not empty %}
                                                <div class="synonym_placeholder" >
                                                    {% for synonym in synonyms %}
                                                        <span class="synonym"><a href="{{ path('_home', {'word': synonym}) }}">{{ synonym }}</a></span>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                </ul>
                            {%  endfor %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <h1>HISTORY</h1>
            {% for key, history in histories %}
                <div class="word_history">
                    <span class="history_key">{{ key }}</span>
                        {#<a href="#">know</a>#}
                        {#<a href="#">almost sure</a>#}
                        {#<a href="#">don't know</a>#}
                    <br/>
                    {% for type, historyEntry in history.translations %}
                        <div class="wordByType">
                            <span class="wordType">{{ type }}:</span>
                            {{ historyEntry | join(', ')}}
                        </div>
                    {%  endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <h1>MOST OFTEN</h1>
            {% for key, hit in historyHits %}
                <div class="word_history">
                    <span class="history_key">{{ key }}</span><br/>
                    {% for type, hitEntry in hit.translations %}
                        <div class="wordByType">
                            <span class="wordType">{{ type }}:</span>
                            {{ hitEntry | join(', ')}}
                        </div>
                    {%  endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
