{% extends 'DictionaryBundle::layout.html.twig' %}

{% block navigation %}
    {{ include('DictionaryBundle::navigation.html.twig',{ 'user': app.user } ) }}
{% endblock navigation %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-5">
            <form style="padding: 5px;" method="post" action="{{ path('_translate') }}" >
                <div class="form-row">
                    <input style="width: 240px;height: 58px;font-size: 33px;"name="q" id="search-id" type="search" />

                    <button type="submit" class="sf-button">
                        <span class="border-l">
                            <span class="border-r">
                                <span class="btn-bg">OK</span>
                            </span>
                        </span>
                    </button>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>MOST OFFEN</h4>
                </div>
                <div class="panel-body">
                    {% for key, hit in historyHits %}
                        {% if loop.index % 2 %}
                            {% set class = 'word_history_white' %}
                        {% else %}
                            {% set class = 'word_history_grey' %}
                        {% endif %}
                        <div class="{{ class }}">
                            <div style="float: right">
                                <a href="#" class="btn btn-sm btn-success" style="line-height: 1;">KNOW</a>
                                <a href="#" class="btn btn-sm btn-warning" style="line-height: 1;">ALMOST</a>
                                <a href="#" class="btn btn-sm btn-danger" style="line-height: 1;">DON'T KNOW</a>
                            </div>
                            <span class="history_key">{{ hit.name }}</span><br/>
                            {% for type, hitEntry in hit.translations %}
                                <div class="wordByType">
                                    <span class="wordType">{{ type }}:</span>
                                    {{ hitEntry | join(', ')}}
                                </div>
                            {%  endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
