{% extends 'DictionaryBundle::layout.html.twig' %}

{% block navigation %}
    {{ include('DictionaryBundle::navigation.html.twig',{ 'user': app.user } ) }}
{% endblock navigation %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>{% trans %}MOST_OFFEN{% endtrans %}</h4>
                </div>
                <div class="panel-body">
                    {% for key, hit in historyHits %}
                        {% set pileType = hit.piles_type %}
                        {% if loop.index % 2 %}
                            {% set class = 'word_history_white panel-column' %}
                        {% else %}
                            {% set class = 'word_history_grey panel-column' %}
                        {% endif %}
                        <div id="history_item_{{ hit.history_id }}" class="{{ class }}">
                            <div class="col-md-6 col-xs-12">
                                <div>
                                    <a class="history_key" href="{{ path('_home_api', {'word': hit.name}) }}">{{ hit.name }}</a>
                                </div>
                                {% for type, hitEntry in hit.translations %}
                                    <div class="wordByType">
                                        <span class="wordType">{{ type|upper|trans}} :</span>
                                        {{ hitEntry | join(', ')}}
                                    </div>
                                {%  endfor %}
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <a class="history_delete_item panel-item-links" data-id="{{ hit.history_id }}" href="{{ path('delete_history_item', {'id': hit.history_id}) }}"><span class='glyphicon glyphicon-remove'></span></a>
                                <a href="{{ path('move_2_piles', {'word': hit.word_id, 'pileId': 4 }) }}" class="pile btn btn-sm btn-danger  panel-item-links {% if pileType == 4 %} disabled {% endif %}" style="line-height: 1;">{% trans %}DONTKNOW{% endtrans %}</a>
                                <a href="{{ path('move_2_piles', {'word': hit.word_id, 'pileId': 2 }) }}" class="pile btn btn-sm btn-warning panel-item-links {% if pileType == 2 %} disabled {% endif %}" style="line-height: 1;">{% trans %}ALMOST{% endtrans %}</a>
                                <a href="{{ path('move_2_piles', {'word': hit.word_id, 'pileId': 1 }) }}" class="pile btn btn-sm btn-success panel-item-links {% if pileType == 1 %} disabled {% endif %}" style="line-height: 1;">{% trans %}KNOW{% endtrans %}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additionaljs %}

    <script type="text/javascript">
        $(document).ready(function() {
            Dictionary.initPilesForms();
        });
    </script>
{% endblock %}
